<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Pintrested</a>
 
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    
    <%= link_to"Home", root_path %>
    <%= link_to"About Me", home_about_path %>
    </div>
  </div>
</nav>