
<div class="jumbotron center">

    <h1>Welcome to my Pintrested Application</h1>
    <p>This is super kool</p>
    <p>I really want to be a good coder</p>
    <%= link_to "join", root_path, class: 'btn btn-primary'%>
    <%= link_to "login", root_path, class: 'btn btn-outline-secondary'%>

</div>